.detail-container {
  background-color: rgb(255, 255, 255);
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  position: relative;
  color: #181818;
  /* margin-top: -25px; */
}

.detail-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.item {
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
}

.item h3 {
  font-size: 1.1rem;
}

.item p {
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .detail-container {
    flex-direction: row;
    gap: 3rem;
  }

  .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .detail-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
