.form-order {
  margin: 24px;
  color: var(--hijau-tua);
}

.form-order h1 {
  font-size: 24px;
  text-align: center;
}

.form-order>p {
  text-align: center;
  margin-bottom: 24px;
}

.pengajar-les,
.materi,
.waktu-les,
.lokasi-les,
.info-tambahan {
  background-color: white;
  padding: 24px;
  border-radius: 16px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 16px;
}

.pengajar-les>img {
  margin: 0 auto 16px auto;
  width: 80px;
  height: 80px;
  background-color: gainsboro;
  border-radius: 50%;
  overflow: hidden;
}

.pengajar-les>p:nth-child(2) {
  font-weight: 700;
  text-align: center;
}

.pengajar-les>p:nth-child(3) {
  font-size: 12px;
  margin-bottom: 16px;
  text-align: center;
}

.pengajar-les>p:nth-child(4) {
  text-align: center;
  font-weight: 700;
}

.pengajar-les>p:nth-child(5) {
  text-align: center;
}

.form-heading {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 8px;
}

.form-order textarea {
  resize: none;
  width: 100%;
  height: 128px;
  padding: 8px;
  border-radius: 8px;
}

.input-jenjang,
.input-topik,
#date,
#mulai,
.mode-pembelajaran,
.alamat-lengkap {
  margin-bottom: 16px;
}

.input-jenjang {
  display: flex;
  gap: 4px;
}

.input-jenjang label:not(:last-child) {
  margin-right: 16px;
}

.input-topik>input {
  padding: 4px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid gray;
}

.waktu-les #date {
  padding: 8px;
}

.waktu-les>div {
  display: flex;
}

.durasi-container input,
.mulai-container input {
  width: 128px;
}

#date,
#mulai,
.durasi {
  border-radius: 4px;
  border: 1px solid rgb(133, 133, 133);
}

#mulai,
.durasi {
  padding: 8px;
}

.waktu-input {
  display: flex;
  flex-direction: column;
}

.waktu-bottom {
  display: flex;
  gap: 24px;

}

.mode-pembelajaran label {
  margin-right: 16px;
}

.mode-pembelajaran input {
  margin-right: 4px;
}

.detail-lokasi>input {
  padding: 4px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid gray;
}

.form-container .button {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-container #btn-batal {
  text-align: center;
  font-weight: 700;
  background-color: var(--cream);
  color: var(--orange);
  order: 2;
  cursor: pointer;
}

.form-container #btn-pesan {
  font-weight: 700;
  color: var(--cream);
  background-color: var(--orange);
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}

@media only screen and (min-width: 1080px) {
  .form-order {
    width: 700px;
    margin: 24px auto 24px auto;
  }

  .pengajar-les p:nth-child(2) {
    font-size: 24px;
  }

  .waktu-les>div {
    display: flex;
    flex-direction: row;
  }

  .waktu-input {
    gap: 48px;
  }

  .waktu-bottom {
    display: flex;
    flex-direction: row;
    gap: 48px;
  }

  .waktu-bottom .durasi-container {
    display: flex;
    flex-direction: column;
  }

  .durasi-container {
    width: 100px;
  }
}