.order-container {
  padding: 24px;
  color: var(--hijau-tua);
}

.order-title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 16px;
}

.pesanan {
  background-color: white;
  padding: 24px;
  border-radius: 16px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 16px;
}

.teacher-info .info-foto {
  width: 96px;
  height: 96px;
  background-color: gray;
  border-radius: 50%;
  margin: auto;
}

.teacher-info .edukasi {
  font-size: 14px;
  color: gray;
}

.urutan-pesanan {
  font-weight: 700;
}

.pesanan-sub-judul {
  font-weight: 700;
}

.toggle-detail {
  color: var(--orange);
  font-weight: 700;
  cursor: pointer;
  margin: 16px 0;
  text-align: center;
}

.pesanan-materi,
.pesanan-lokasi,
.teacher-info {
  margin-bottom: 16px;
}

.teacher-info>p:first-child {
  font-weight: 700;
  margin-bottom: 16px;
}

.teacher-info .info-text {
  margin-top: 8px;
}

.teacher-info .edukasi {
  margin: auto;
}

@media only screen and (min-width: 1080px) {
  .order-container {
    width: 480px;
    margin: auto;
  }
}