@import "../../base.css";

.wrapper-list-teacher {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  row-gap: 30px;
}

.card-wrapper {
  background-color: white;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.teacher-profile {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.profile-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.teacher-info {
  text-align: center;
}

.teacher-rating {
  text-align: center;
}

.teacher-rating-rating {
  font-size: 1rem;
  font-weight: 600;
}

.teacher-rating-review {
  font-size: 0.8rem;
}
